@import url(variables.css);
@import url(blocks/header.css);
@import url(blocks/listings.css);
@import url(blocks/btns.css);
@import url(blocks/footer.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li, ul {
  list-style-type: none;
  margin: 0;
}

a:any-link{
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
}

h1, h2, p {
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 52px;

}

.header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 10;
}

.main {
  margin-top: 40px;
  background-color: var(--main-bg);
}

.main__title {
  padding: 32px 0 23px 0;
  color: var(--black);
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px
}

.footer {
  height: 88px;
  color: var(--white);
  background: var(--eggplant);
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
}