:root {
    --turquose:  #10BBD5;
    --gray: #8E8E8E;
    --light-eggplant: #744978;
    --eggplant: #4C394E;
    --light-green: #6DB236;
    --green: #4D762D;
    --purple: #AF39E7;
    --violet: #4200FF;
    --pink: #EA33C0;
    --white: #F8FDFE;
    --red-price: #E90000;
    --main-bg: #EEEEEF;
    --listings-border: #A8A8A8;
    --black: #1F1F1F;


}