.product-card__btn {
    margin-top: 16px;
    border: none;
    width: 100%;
    text-align: center;
    height: 40px;
    color: var(--white);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--eggplant);
}

.product-card__btn.active {
    background-color: var(--green);
}

.product-card__btn.active::after {
    content: 'End up'
}

.product-card__btn.active:hover {
    background-color: var(--light-green);
}

.product-card__btn:not(.active)::after {
    content: 'Add to basket'
}

.product-card__btn:not(.active):hover {
    background-color: var(--light-eggplant);
}

.chat-icon {
    position: sticky;
    top: 696px;
    left: calc(100vw - (100vw - 1296px) / 2 - 50px) ;
    width: 64px;
    height: 64px;
    background:  var(--turquose) url(../../img/chat_icon.svg) center / 80%;
    border: none;
    border-radius: 100%;
    z-index: 5;
}

.chat-icon:hover {
    transform: scale(1.2)
}

.chat-icon {
    animation-duration: 0.5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@keyframes rotation {
    to {
        transform: rotate(12deg);
        
    }
  }