.header__top-container,
.header__nav-container,
.header__nav-links,
.cart {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top {
    height: 72px;
    background-color: var(--turquose);
}

.logo {
    width: 136px;
    height: 28px;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart {
    gap: 12px;
}

.cart__price {
    color: var(--white);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
}

.cart__button {
    padding: 9px 9px 18px 15px;
    display: block;
    height: 40px;
    width: 40px;
    background: url("../../img/cart_icon.png") 100%/cover;
    border: none;
    font-family: Cabin;
    font-size: 12px;
    font-weight: 400;
}

.header__nav {
    height: 32px;
    background-color: #fff;
}

.header__nav-title, .header__nav a {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;

}
.header__nav-links {
    gap: 40px;
}