.listings {
    padding: 24px 0 120px 0;
    display: grid;
    grid-template: repeat(3, 512px)/ repeat(4, 306px);
    grid-auto-rows: 512px;
    row-gap: 32px;
    column-gap: 24px;
    justify-content: center;
    border-top: var(--listings-border) 1px solid;

}

.product-card {
    position: relative;
    padding: 32px;
    width: 306px;
    height: 512px;
    background-color: var(--white);
    border: var(--listings-border) 1px solid;
}

.product-card__img img{
    display: block;
    margin: 0 auto;
    width: 178px;
    height: 280px;
    object-fit: cover;
}
.product-card__img {
    display: block;
    margin: 0 auto;
}
.product-card__title,
.product-card__author {
    display: block;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
}
.product-card__title {
    margin-top: 16px;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: var(--listings-border) solid 1px;
}
.product-card__author {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.product-card__price {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.price-new,
.price-old {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.price-new {
    color: var(--red-price);
}

.price-old {
    color: var(--gray);
    text-decoration-line: line-through;
}

.badges{
    display: flex;
    position: absolute;
    top: 32;
    left: 32;
    gap: 4px
}
.hit, 
.new,
.discount {
    color: var(--white);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;

}
.hit {
    background-color: var(--violet);
}

.hit:after {
    content: 'Hit';
}
.new {
    background-color: var(--purple);
}
.new:after {
    content: 'New';
}

.discount {
    background-color: var(--pink);
}
.discount::after {
    content: "% off";
}
